{
  "extends": "@antfu",
  "ignorePatterns": ["**/*.json"],
  "rules": {
    "no-console": "off",
    "no-multi-spaces": "off",
    "@typescript-eslint/comma-spacing": "off",
    "dot-notation": "off",
    "no-duplicate-imports": "off",
    "import/no-duplicates": "off",
    "key-spacing": "off"
  }
}
