/* 기본 서체 크기 */
.video-js {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 하단 컨트롤바 초기 등장 */
.video-js .vjs-control-bar {
    display: flex;
    z-index: 9;
    width: 100%;
}

/* 시간 표시 */

/* 시간 영역 패딩 */
.video-js .vjs-time-control {
    display: block;
    line-height: 34px;
}

.vjs-current-time.vjs-time-control.vjs-control {
    width: 66px;
    padding-left: 14px;
    padding-right: 4px;
}

.vjs-duration.vjs-time-control.vjs-control {
    width: 66px;
    padding-left: 4px;
    padding-right: 14px;
}

/* 시간 구분자 영역 */
.video-js .vjs-time-control.vjs-time-divider {
    min-width: 0.5em;
    padding: 0 0.25em;
    text-align: center;
}

.video-js .vjs-control-bar {
    background-color: rgba(43, 51, 63, 0.8);
    /*background-color: transparent;*/
    position: fixed;
    /*bottom: calc(50% - 630px / 2);*/
    bottom: 0;
    width: 1120px;
    height: 34px;
    margin: 0 auto;
}

.vjs-button > .vjs-icon-placeholder:before {
    line-height: 34px;
}

.vjs-time-control {
    padding: 0;
}

/* 재생 시간 숫자 서체 변경 */
.vjs-current-time-display, .vjs-duration-display {
    font-family: "GmarketSansMedium", monospace;
    font-weight: 700;
}

.video-js.vjs-fullscreen .vjs-control-bar {
    width: 100% !important;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
}

.video-js #refScript.fullscreen {
    max-width: 100%;
    width: 100%;
}

.video-js #refScript.fullscreen #script-area {
    max-width: 100%;
    width: calc(100% - 2em);
    margin: 0 1em;
}

.video-js .vjs-progress-holder {
    height: 0.6em;
}

/* 프로그레스바 색상 변경 */
.video-js .vjs-play-progress {
    background-color: #6699cc;
}

.vjs-control.vjs-button:hover {
    color: #6699cc;
}

/* 배속 메뉴 */
.vjs-menu-button-popup .vjs-menu .vjs-menu-content {
/*    background-color: #6699cc;*/
    color: #fff;
    max-height: 20em;
    overflow-y: hidden;
    bottom: 12px;
}

.vjs-menu li.vjs-selected {
    background-color: #6699cc;
}

.video-js .vjs-volume-level {
    background-color: #6699cc;
}

.vjs-volume-bar.vjs-slider-vertical {
    color: #6699cc;
}

.vjs-mouse-display .vjs-volume-tooltip {
    font-family: "GmarketSansMedium", monospace;
}

/* 프로그레스바 드래그 포인트 숨김 */
.video-js .vjs-play-progress:before {
    content: '';
}

.video-js .vjs-slider {
    background-color: #73859f;
}

/* 프로그레스바 툴팁 숨김 */
.video-js .vjs-time-tooltip {
    visibility: hidden !important;
}

/* 프로그레스바 배경 투명화 */
.video-js .vjs-load-progress, .video-js .vjs-load-progress div {
    background-color: transparent;
}

/* 프로그레스바 너비 줄이기 */
.video-js .vjs-progress-control {
    margin: 0 40px;
}

/* 프로그레스바 높이 조절 및 배경 투명화 */
.video-js .vjs-progress-control .vjs-mouse-display {
    height: 0.6em;
    background-color: transparent;
}

/* 숫자 서체 변경 */
.video-js .vjs-time-tooltip, .vjs-playback-rate-value, .vjs-menu-item-text {
    font-family: "GmarketSansMedium", monospace;
}

/* 재생속도 서체 위치 조정 */
.vjs-playback-rate .vjs-playback-rate-value {
    font-size: 1.2em;
    line-height: 34px;
    margin-left: 0.5em;
}

/* 재생속도 가로 크기 */
.vjs-playback-rate .vjs-menu {
    width: 5em;
}

/* 볼륨 버티컬 */
.vjs-volume-bar.vjs-slider-vertical {
    height: 5.5em;
}

.is-audio {
    background-color: transparent;
    /*top: -9999em;*/
}

.is-audio video {
    pointer-events: none;
}

.video-js {
    background-color: rgba(0, 0, 0, 0.5);
}
.video-js.is-audio:not(:root):fullscreen::backdrop {
    background: transparent;
}

/*@media only screen and (min-device-width: 375px) and (max-device-width: 1279px) {*/
/*    .video-js .vjs-control-bar {*/
/*        width: 100%;*/
/*    }*/
/*}*/

/*@media only screen and (min-device-width: 375px) and (max-device-width: 1024px) {*/
/*    .video-js .vjs-control-bar {*/
/*        justify-content: center;*/
/*    }*/
/*    .video-js .vjs-progress-control {*/
/*        position: absolute;*/
/*        bottom: 48px;*/
/*        width: 100%;*/
/*        background-color: rgba(0, 0, 0, 0.95);*/
/*        margin: 0;*/
/*    }*/
/*    #script-area {*/
/*        max-width: 100% !important;*/
/*        width: 100% !important;*/
/*    }*/
/*}*/

@media (orientation: landscape) and (min-device-width: 319px) and (max-device-width: 960px) {
    .video-js .vjs-control-bar {
        justify-content: center;
    }
    .video-js .vjs-progress-control .vjs-progress-holder {
        margin: 0;
    }
    .video-js .vjs-progress-holder {
        height: 0.3em;
    }
    .video-js .vjs-slider {
        background-color: rgba(115, 133, 159, 0.15);
    }
    .video-js .vjs-load-progress div {
        background-color: rgba(115, 133, 159, 0.05);
    }
    .video-js .vjs-progress-control {
        position: absolute;
        bottom: 24px;
        width: 100%;
        background-color: transparent;
        margin: 0;
    }
    #script-area {
        width: 100% !important;
    }
    #index-menu {
        display: none;
    }
    .btnUtility {
        display: none !important;
    }
}

@media (orientation: portrait) {
    .video-js .vjs-control-bar {
        justify-content: center;
    }
    .video-js .vjs-progress-control {
        position: absolute;
        bottom: 48px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.95);
        margin: 0;
    }
    .video-js .vjs-playback-rate, .video-js .vjs-time-control, .video-js .vjs-volume-panel, .video-js .vjs-fullscreen-control {
        display: none;
    }
    #script-area {
        max-width: 100% !important;
        width: 100% !important;
    }
    .btnUtility {
        display: none !important;
    }
}

.vjs-icon-replay:before, .video-js .vjs-play-control.vjs-ended .vjs-icon-placeholder:before {
    content: '\f101';
}

/*:not(:root):fullscreen {*/
/*    object-fit: none;*/
/*    user-select: none;*/
/*    position: fixed !important;*/
/*    top: 0px !important;*/
/*    right: 0px !important;*/
/*    bottom: 0px !important;*/
/*    left: 0px !important;*/
/*    box-sizing: border-box !important;*/
/*    min-width: 0px !important;*/
/*    max-width: 1px !important;*/
/*    min-height: 0px !important;*/
/*    max-height: 1px !important;*/
/*    width: 1px !important;*/
/*    height: 1px !important;*/
/*    transform: none !important;*/
/*    margin: 0px !important;*/
/*}*/

/*.video-js.vjs-fullscreen:not(.vjs-ios-native-fs) {*/
/*    width: 1px !important;*/
/*    height: 1px !important;*/
/*    padding-top: 0 !important;*/
/*}*/
